body{
    font-family: 'Roboto';
    font-style: normal;
    color:#212121;
}

.container{
   width: 1200px;
   margin: 0 auto;
   padding: 0px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* nagłówek */
header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.page-header{    
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

/* logo */

.first-letters {
    color: #2196F3;
}
.logo-header {
    text-decoration: none;
    color:#212121;
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
/* nawigacja w nagłówku */

.list-menu{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    }

.header-menu {
    text-decoration: none;
    color: #212121;
    width: 53px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-menu{
    margin-right: 46px;
    
}

.header-menu:hover,
.header-menu:focus {
    color:#2196F3;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after{
    content: "";
    border: 4px solid #2196F3;
    border-radius: 2px;
    display: block;
    position: relative;
    top: 28px;
}


/* kontakty w nagłówku */
.header-contact{
    display: flex;
}
.e-mail{
    text-decoration: none;
    color: #757575;
    width: 135px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-right: 30px;
    margin-left: 10px;
}
.e-mail:hover{
    color:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelop,
.icon-smartphone{
fill: #757575;
}

.contact-email:hover svg,
.contact-phone:hover svg{
    fill:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-number{
    text-decoration: none;
    color: #757575;
    width: 110px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 10px;
}
.phone-number:hover{
    color:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact{
    display: inline-flex;        
}

/* Stopka */

.footer-section{
    background-color:  #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
    
.footer{
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
}

.footer-social-link{
    padding-top: 12px;
}

.logo-footer{
    text-decoration: none;
    color: black;
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.last-letters{
    color: #FFFFFF;
}
.address{
    color: #FFFFFF;
    width: 247px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.e-mail-footer{
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
}
.phone-number-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.social-link-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-social-list{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin-top: 16px;   
    padding: 0px; 
       
 }
    
.footer-social-icons{
    width: 20px;
    height: 20px;
    align-items: center; 
    fill: #FFFFFF;
}
    
.footer-social-links-item{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);   
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.footer-social-links-item:hover{
    background-color: #2196F3;  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons:hover{
    fill: #FFFFFF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-title{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-mail{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    margin-top: 20px;
}
.newsletter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    margin-left: 12px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;   
    cursor: pointer;
}
.newsletter-icon{     
    width: 24px;
    height: 24px;
    margin-left: 24px;
    fill:#FFFFFF;
    
}

    /* protfolio bottom */

.filtr-button{
    list-style-type: none;
    display: flex;  
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.filtr{
    background-color:#F5F4FA;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    margin-left: 8px;
}

.filtr:hover,
.filtr:focus{
    background-color:#2196F3;
    color:  #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* rozmiary przycisków */
.filtr1{
    width: 121px;
    height: 38px;
}
.filtr2{
    width: 93px;
    height: 38px;
}
.filtr3{
    width: 114px;
    height: 38px;
}
.filtr4{
    width: 91px;
    height: 38px;
}
.filtr5{
    width: 121px;
    height: 38px;
}

.nav-button{
    margin-bottom: 50px;
}
/* zdjecie produktu */
.project-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    }

.product{    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    cursor: pointer;    
}
.project{
    position: relative;
    width: 370px;
    height: 404px;
    margin: 0px;
    overflow: hidden;
    align-items: center;     
}

.name-product{
    z-index: 1001;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-top: 20px;
}

.project-name{
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin: 0px;
    padding: 0px;
    padding-bottom: 4px;
}

.filtr-name{
    color: #757575;
    width: 322px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;    
}


.project:hover .overlay {
    transform: translateY(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  
.description{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
    padding-top: 49px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    /* sekcja "efektywne rozwiązania */
.service-section{
   background: #2F303A;
   height: 600px;
   display:flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)), url(../images/group.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   }
 


.title-and-button{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.main-title{
    color: #FFFFFF;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.order-button{
    /*botton*/
    background: #2196F3;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    margin-top: 30px;
    /*text in botton*/
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color:#FFFFFF;
    cursor: pointer;
    padding: 0px;   
}


/*lorem list nasze atuty*/
.assets-icons-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}  


.assets-icons{
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #F5F4FA;
    border-radius: 4px;
}

.icons:hover{
    fill:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons{
    width: 70px;
    height: 70px;
}

.lorem-list{
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0px;
}

.title{
    width: 270px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text{    
    height: 75px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* sekcja: "Czym się zajmujemy" */
.profession-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-bottom: 50px;
}

.photo-profession{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style-type: none;      
}
.profession{
    position: relative; 
    display: flex;
    justify-content: space-between;
}
    
    


.profession-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 370px;
    height: 70px;    
    background: rgba(47, 48, 58, 0.8);  
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;        
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.profession > .profession-text{
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0px;
    right: 0px;
    padding: 0px;
}
/* sekcja "Nasz zespół" */

.team-section{
    background: #F5F4FA;
    
}
.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-bottom: 50px;
}
.team{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.person{
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0px;
}
.name-and-position {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 30px;    
}
.position{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
}
.social-list{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    margin-top: 16px;   
    padding: 0px; 
    margin-right: 32px;
    margin-left: 32px;
}

.social-icons{
    width: 20px;
    height: 20px;
    align-items: center; 
    fill: #AFB1B8;    
}

.social-links-item{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 44px;
    height: 44px;    
    border-radius: 50%;
    cursor: pointer;
}

.social-links-item:hover{
    background-color: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);     
}
.social-links-item:hover svg{
    fill: #FFFFFF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* sekcja nasi klienci */
.our-customer{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-bottom: 50px;
}

.customer-list{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;      
    padding: 0px;     
}
.customer{
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 170px;
    height: 92px;    
    border: 1px solid #AFB1B8;
    border-radius: 4px;   
}
.customer-icons{
    width: 106px;
    height: 60.04px;
    fill:#AFB1B8;
}
.customer:hover{
    border: 1px solid #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer:hover svg{
    fill:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*okno modalne*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, transform;
    opacity: 100%; 
}

.modal{   
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%,-50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, transform;
    opacity: 100%; 
}

.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-btn:hover{
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-icon{
    width: 11px;
    height: 11px;
    fill: #000;
}

/* FORMULARZ OKNA MODALNEGO*/
.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
}

.modal-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    
}
.label{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-top: 10px;
    
    
    
}
.input{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    text-indent: 42px;
    padding: 0px
}


.modal-icon{
    position: absolute;
    display: flex;
    width: 18px;
    height: 18px;
    margin-top: 18px;
    margin-left: 12px;
    fill: #212121
}

input:focus, 
textarea:focus {
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus-within,
.textarea:focus-within {
    border-color:#2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);     
}
.label:focus-within svg{
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea{
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-top: 4px;
}

.user-policy{
    display: flex;
    align-items: center;
    margin-top: 20px;    
}

.modal-form-poicy-text{   
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
    margin-left: 8px;
}

.modal-form-poicy-text::before{
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    outline: 1px solid #212121;
    border-radius: 2px;
    margin-right: 9px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-poicy:checked + .modal-form-poicy-text::before{
    background-color:#2196F3;
    outline: 1px solid #2196F3;
    border-radius: 2px;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 9px;
    
}
.visually-hidden{
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.color{
    color: #2196F3;
    
}
.link{
    color: #2196F3;
    
}

.submit-button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 30px;
}